{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
    <div class="intro">{{ page.introduccion|richtext }}</div>
    <ul style=list-style:none;>
        {% for peli in peliculas %}
        <li>
            <img src={{peli.imagen}}> {{peli.place}}.&nbsp;{{peli.title}}({{peli.year}})-------------> IMDb Rating : <strong>{{peli.rating}}</strong><br><hr>
        </li>
        {% endfor %}
    </ul>
    <nav role="pagination" aria-label="Pagination">
        <ul class="pagination">
            {% if peliculas.has_previous %}
                <li class="page-item">
                    <a href="?page={{ peliculas.previous_page_number }}" class="page-link previous arrows">Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                </li>
            {% endif %}
          {% for i in peliculas.paginator.page_range %}
            {% if peliculas.number == i %}
              <li class="page-link" style="color:black;"><span>[ {{ i }} ] <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-item"><a href="?page={{ query_string|urlencode }}&amp;page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

            {% if peliculas.has_next %}
                <li class="page-item">
                    <a href="?page={{ peliculas.next_page_number }}" class="page-link next arrows">Siguiente</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Siguiente</a>
                </li>
            {% endif %}
        </ul>
    

</div>
{% endblock %}