<nav class="mb-2 navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Blog de Sergio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="nav-link active" aria-current="page" href="/peliculas">Peliculas</a>
        <a class="nav-link active" aria-current="page" href="/goleadores-históricos">Goleadores</a>
        <a class="nav-link active" aria-current="page" href="/posts">Blog de Posts</a>
        <a class="nav-link active" aria-current="page" href="/contacto">Contáctanos</a>
        <a class="nav-link active" aria-current="page" href="/admin">Administrador</a>
      </div>
    </div>
</nav>